/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #383838;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 1.8em;
	font-family: Arial,sans-serif;
	background: #dddddd;
	color: #656565;
}
.clear {
	clear: both;
}
br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -1px;
    padding-top: 12pt;
    padding-bottom: 12pt ;
    
}

h2,h3,h4 {
	margin-bottom: 1.5em;
	font-family: Arvo, serif;
	color: #000000;
}

strong {
	color: #000000;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.25em;
    text-align: justify;
}

ul {
	margin-bottom: 1.25em;
}

.buttons
{
	text-transform: none;
	box-shadow: inset 0px -40px 60px 0px #005B6D;
	background: #0a7f99;
	color: white;
	float: left;
	
	padding: 10px;

}
.buttons .right
{
	margin-left: 45px;
}

.buttons a
{
	color: white;
}

.date {
	background: #222222;
	color: #ffffff;
	font-size: 0.75em;
	padding: 2px;
	display: inline-block;
	width: 45px;
	text-align: center;
	margin-right: 1em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

.box {
	margin: 0 0 30px 0;
	overflow: hidden;
}
.recent {
	margin: 0 0 30px 20px;
	overflow: hidden;
}
.box section {
	/*height: 340px;*/
}
.boxx {
	margin: -50px 0 30px 0;
	overflow: hidden;
}
.box1 {
	margin: 0 0 5px 0;
	overflow: hidden;
    line-height: 0.7em;
}

#bg1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 628px;
	background: #ccc;
	z-index: 1;
	box-shadow: inset 0px 280px 60px 0px rgba(0,0,0,0.3);
}

#bg2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 243px;
	background: #262626;
	z-index: 2;
	box-shadow: inset 0px 10px 60px 0px rgba(0,0,0,0.7);
}

#banner {
	position: relative;
	width: 1180px;
	height: 377px;
}

#banner .captions {
	position: absolute;
	right: 0;
	top: 105px;
	text-shadow: 2px 2px 0px rgba(0,0,0,1.0);
	z-index: 5;
}

#banner .captions h2 {
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	padding: 28px;
	margin: 0;
}

#banner .captions h3 {
	background: rgba(10,127,153,0.8);
	color: #ffffff;
	padding: 28px;
	margin: 0;
}

#content {
	width: 910px;
		
	/*margin: 0 0 0 270px;*/
	padding: 0;
	 min-height:975px;
	 overflow: visible;
    
}

#copyright {
	padding: 40px 0 80px 0;
	text-align: center;
	color: #777777;
}

#copyright a {
	color: #777777;
}

#header {
	position: relative;
	padding: 28px;
	height: 125px;
	background: #0a7f99;
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px -40px 60px 0px #005B6D;
	border-bottom: solid 1px #003B47;
}

#logo {
	position: absolute;
	bottom: 0;
	left: 28px;
	height: 138px;
	line-height: 138px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 2.25em;
	font-family: Arvo, serif;
}

#main {
	position: relative;
	padding: 60px 28px 0px 28px;
	width: 1124px;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: solid 1px #d1d1d1;
}

#main ul li:first-child {
	padding-top: 0;
	border-top: 0;
	/*border-left: solid 1px black; */
}
.menu_top *
{
	margin: 0;
	padding: 0;
}
.menu_top {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 1180px;
	height: 48px;
	line-height: 48px;
	margin: 0 0 28px 0;
	background: #007289;
	font-size: 0.9em;
	border-bottom: solid 1px #009FBF;
	border-top: solid 1px #1098B3;
	box-shadow: inset 0px -10px 40px 0px #005B6D;
}
.menu_top a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	padding: 15px 16px 14px 14px;
	transition: all 0.3s ease;	

}
.menu_top a:hover  {
	color: #1D1D1D;
	/*box-shadow: 1px 5px 10px -5px black;*/
	transition: all 0.3s ease;	
}

.menu_top .active{
	background: azure;	
	
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}
.menu_top .active a{
color: #006A7F;
	}
.menu_top > ul {
	list-style: none;
	display: flex;
	position: relative;
}

.menu_top ul .login
{
	position: absolute;
	left: 1000px;
}
.login a:hover
{
	color: black;
	background: none;
	box-shadow: none;
}


.menu_top ul li {
	display: inline;
	
}

table {
    overflow:hidden;
    /*border:1px solid #d3d3d3;*/
    background:#fefefe;
    width:100%;	
    margin:2px auto ;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow:   4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:   4px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
}
 
th, td {
    padding:10px 10px 10px; 
    text-align:center; 

}
 
th {
    padding-top:22px; 
    text-shadow: 1px 1px 1px #fff;
    color:#262626;
    /*background:#e8eaeb;*/
}
 
td {
    /*border-top:1px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;*/
}
 
tr.odd-row td {
    background:#f6f6f6;
}
 
td.first, th.first {
    text-align:left
}
 
td.last {
    border-right:none;
}
 
td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
 
tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
 
th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
 
tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
 
tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}
table td a
{
	text-decoration: none;
}
.monument_name a
{
	border-bottom: solid 2px gray;
}
.monument_name a:hover
{
	
	border-bottom: none;
}


.location a:hover
{
	border-bottom: dotted 1px red;
}


/*.menu_top li ul {
	position: absolute;
	min-width: 150px;
	background: #007289;
	font-size: 0.9em;
	border-bottom: solid 1px #009FBF;
	border-top: solid 1px #1098B3;
	box-shadow: inset 0px -10px 40px 0px #005B6D;
	z-index: 100;
	color: white;
	display: none;
	
}
.menu_top li:hover > ul
{
	display: block;

}
.menu_top li ul li {
	display: block;	
}
.menu_top li ul li a{
	
	color: #ffffff;
	
		
}

.menu_top ul .right_part{
	margin-left: 150px;
}*/



#outer {
	position: relative;
	z-index: 3;
	width: 1180px;
	margin: 61px auto 0 auto;
	background: #ffffff;
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}

#search {
	position: absolute;
	bottom: 0;
	right: 28px;
	height: 118px;
	line-height: 138px;
}

#search input.text {
	padding: 10px 40px 10px 10px;
	background: #ffffff url(../images/search.png) top right no-repeat;
	border: 0;
	width: 250px;
	color: #777;
}

#sidebar {
	width: 200px;
	float: right;
	padding: 0;
	font-size:	10pt;
	line-height: normal;

}
#sidebar a
{
	text-decoration: none;
	color: #656565;
	
}
#sidebar .title
{
	color: #353535;

}

.left
{
	float: left;

}
/*monuments */
.left_img
{
	float: left;
}

.monumnt_desc
{
	/*margin-top: 55px;*/
	position: absolute;
	left: 250px;
	top: 55px;
}

.monument_item
{
	height: 250px;
	position: relative;
	border-bottom: 2px solid black;
}

.monument_item hr
{
	vertical-align: bottom;
}
.monument_item a
{
color: #656565;
text-decoration: none;
}
 .viewed
 {
 	position: absolute;
 	left: 550px;
 	top:20px;
 	
 }

 .fa-eye
 {
 	color: #0a7f99;
 }

/*.add_monument input
{
	padding: 10px 40px 10px 10px;	
	border: 0;
	width: 200px;
	color: #777;
	border: 1px solid black;
}

#save
{
	background:#0a7f99 ;
	width: 150px;
	color: #ffffff;
	padding: 10px;
}

.add_monument label
{
	color: black;
}*/

.filter 
{
	width: 800px;
	height: 50px;
	background: #0a7f99;
	position: relative;		
}
.filter_list
{
	float: left;
	margin: 10px 15px;
}
.filter_botton
{

}
/*------------------------------------------*/
.modalDialog {

	    position: fixed;
	    
	    top: 0;

	    right: 0;
    	bottom: 0;

	    left: 0;

	    background: rgba(0,0,0,0.8);

	    z-index: 99999;

	    -webkit-transition: opacity 400ms ease-in;

	    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;

	    display: none;

	    pointer-events: none;



	}
	.modalDialog:target {

	    display: block;

	    pointer-events: auto;
	}

	 

	.modalDialog > div {

	    width: 400px;

	    position: relative;

	    margin: 10% auto;

	    padding: 5px 20px 13px 20px;

	    border-radius: 10px;

	}

	.close {

	    background: #606061;

	    color: #FFFFFF;
	    line-height: 25px;

	    position: absolute;

	    right: -12px;
    text-align: center;

	    top: -10px;

	    width: 24px;

    text-decoration: none;

	    font-weight: bold;

	    -webkit-border-radius: 12px;

	    -moz-border-radius: 12px;

	    border-radius: 12px;

	    -moz-box-shadow: 1px 1px 3px #000;

	    -webkit-box-shadow: 1px 1px 3px #000;

	    box-shadow: 1px 1px 3px #000;

	}

	 

	.close:hover { background: #0a7f99; }

	/* ---------- LOGIN-FORM ---------- */
/*#login-form {
	margin: 150px auto;
	width: 300px;
}

#login-form h1 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
	border: none;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
}

#login-form input[type="email"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #0a7f99; }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}*/

/* Ñòèëè áàðà vladmaxi, ìîæíî óäàëèòü */
/*.vladmaxi-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.08);
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}*/
/*#login-form {
	margin: 150px auto;
	width: 650px;
	
}
#login-form p{
	
	margin: 0;
}

#login-form h1 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 9px 10px;
	width: 250px;
}

#login-form input[type="text"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #198d98; }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}
#login-form p{
	margin-bottom: 10px;
}
#from_part {
	float: left;
	margin-right: 25px;
}
#from_part2 {
	
}*/


.pop_monument
{
	margin-bottom: 17px;
}
.pop_monument h1,h2,h3
{
	margin:0;
}
.pop_monument p
{
	
	margin: 7px 0 ;

}

 .pict
{
	float: left;
}
.recent_monument 
{
	margin-bottom: 35px;	 
}
.recent_monument p
{
	margin: 0;
	padding: 0;
}

.recent_monument .pict
{
	margin-right: 10px;
}

/*---------------------------------------*/
 #show-view {

 	position: absolute;
    top: 0px;
    left: 610px;
    width: 110px;
    clear: both;
}
#show-view ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#show-view ul li {
    margin: 0px;
    padding: 0px;
    border-top: none;
}
#show-view ul li a {
    display: block;
    float: left;
    background: url('../images/show-view.jpg') no-repeat;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-top: 11px;
}
#show-view a.view-method-block {
     background-position: -33px 0;
 }
#show-view a.view-method-table {
    background-position: -66px 0;
}
#show-view a.selected {
    background-position: 0 -63px;
}
#show-view a:hover {
    background-position: 0 -31px;
}
#show-view a.view-method-block.selected {
    background-position: -33px -63px;
}
#show-view a.view-method-block:hover {
    background-position: -33px -31px;
}
#show-view a.view-method-table.selected {
    background-position: -66px -63px;
}
#show-view a.view-method-table:hover {
    background-position: -66px -31px;
}
/*-Pagination-*/

/*.pagination {
	font-size: 0.9em;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #EB7410;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}*/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #262626;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  /*color: white;*/
  background-color: #CCCCCC;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #E16815;
  /*border-color: #428bca;*/
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}   
.site_desc
{
	width: 600px;
	margin: 0 auto;
}

.wrap_buttons
{
	width: 500px;
	margin: 0 auto;
}
/*footer*/
#main_footer
{
	clear: both;
	
	width: 100%;
	background: #262626;
	box-shadow: inset 0px 10px 60px 0px ;
	height: 50px;
	
}
.footer_inner
{
	width: 1180px;
	margin: 0 auto;
	color: white;
}

/*slider*/
.slider {
 z-index: 2;
 width: 1180px;
 height: 388px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 1180px;
 height: 388px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #262626;
 }
 /*viewed*/

/*no link*/
